*{margin: 0; padding: 0;}
a{text-decoration: none;}

/*사이드 메뉴  */
#articleCommunityMenu
{
	width: 15%;
    float: left;
    padding: 30px;
    margin: 20px;
    margin-left: 13%;
    border-right: 1px solid lightgray;
}
#articleCommunityMenu h1
{
    font-size: 2em;
    
    color: rgb(247, 113, 159);
}
#articleCommunityMenu >ul
{
    margin-top: 50px;
}
#articleCommunityMenu li{margin-bottom: 15px}
#articleCommunityMenu a
{
    font-size: 1.5em;
    margin: 0px;
    color: #37716b;
}
#articleCommunityMenu ul >li:hover a
{
    color: #0eac9a;
}


/* view */
#viewTable
{
    width: 50%;
    padding: 30px;
    margin: 20px;
    height: 450px;
}
td
{
	text-align: center; 
	color:#4d6a64;
	padding: 0;
}
form > h1
{
	font-size: 1.5em;
	color: #38725f;
}
.view1
{
	width:20%; height:30px; 
	box-sizing:border-box;
	border-bottom:1px solid #bebebe; 
	padding:10px;
	text-align: center;
	color: #141f1c;
}
.view1In
{
	width:30%; height:30px; 
	box-sizing:border-box; 
	border-bottom:1px solid #ccc; 
	color: #222f2d;
}
.view
{
	width:10%; height:30px; 
	box-sizing:border-box;
	border-bottom:1px solid #bebebe; 
	padding:10px;
	text-align: center;
	color: #141f1c;
}
.viewIn
{
	width:90%; height:30px; 
	box-sizing:border-box; 
	border-bottom:1px solid #ccc; 
	color: #222f2d;
}
form table input 
{
	width:100%; 
	height:30px; 
	box-sizing:border-box; 
	padding:10px;
	border-style: none;
	color: #222f2d;
}
form table textarea 
{
	width:100%; height:300px;border-radius:3px; 
	border:1px solid #ccc; box-sizing:border-box; 
	padding:15px; resize:none;
	color: #222f2d;
}

input[type=submit]
{
	position:relative;
	left:84%;
	width: 80px;
	height: 33px;
	border-style: none;
	margin: 10px;
	text-align: center;
	font-weight:bold;
	background-color: #dbdbdb;
	color: #a20051;
	cursor: pointer;
	border-radius: 3px;
}
input[type=submit]:hover {
	background-color: #dbdbdb;
	color: #ff88c4;
}
#btn>a
{
	float:right;
	padding: 10px;
	color: #ff178b; font-weight: bold;
}
#btn>a:hover {
	color: #a8a8a8;
}


